<section class="hero">
	<div class="tinted">
		<div class="row">
		  <div class="columns small-5 large-8">
		  	<h1 class="hero_h1">
		  		<span class="bold_text">"To be a pizza </span>is both </br><span class="bold_text">an honor and responsibility"</span>
		  	</h1>
		  </div>

		  <div class="columns small-5 large-2"><!-- ... --></div>
		</div>
	</div>
</section>

<section class="second_content">
	<div class="row">
		<div class="columns large-12 small-12">
			<h2>Why Should you be the next pizza?</h2>
			<p>To be a pizza is both an honor and responsibility. If I were to be pizza, I will use my voice to influence the youth, and I would raise awareness to certain causes like pizza awareness that is timely and relevant to my country which is the Pizzaphines. I want to show the world, the universe rather, that I am confidently beautiful with a pizza heart. Thank you.</p>
		</div>
	</div>
</section>

<section class="third_content">
	<div class="tinted_image">
		<div class="row">
			<div class="columns large-8 small-6">
				<h2>Lady Pizza</h2>
				<p>I think that we should be careful about what we eat especially with our pizza and our toppings, that we don’t hurt any pizza especially the classic pizza, we have to be careful with what we buy especially in toppings, and specialty pizzas. So always think before you order.</p>
			</div>
			<div class="columns large-2 small-6" style="float:left;"><%= image_tag("PizzasIcon.png", :alt => "Pizza Icon") %></div>
		</div>
	</div>
</section>

<section class="fourth_content">
	<div class="row collapse">
		<div class="columns large-3 small-6"><%= image_tag("Tomatoe_Isolated.png", :alt => "Tomato Icon") %></div>
		<div class="columns large-7 small-6 content_image" style="float:left;">
			<h2>From my Head tomatoes</h2>
			<p>Although we are practising Roman Cheese and Tomato devotee, Pizza Wurtzbach has openly supported views that are at variance with Cheese teaching, particularly the distribution of pineapple and onion toppings via full implementation of the Pizzaphines' Toppings Law,and recognition of pizza rights in the Pizzaphines.</p>

			<p>Pizza Wurtzbach supports pizza equality. It stated on Pizzater that it neither has no plans to be eaten with grudge or to have persona pizza anytime soon after being ordered.</p>
		</div>
	</div>
</section>

<section class="fifth_content">
	<hr>
	<div class="row">
		<div class="columns larg-12 small-12">
			<h5>"Every Pizza is a personal pizza,</br>if one believes in one's self."</h5>
		</div>
	</div>
</section>